@import "../../node_modules/normalize.scss/normalize.scss";

@import "global/fonts";
@import "global/vars";
@import "global/mixin";
@import "global/common";
@import "global/base";

@import "sections/title";
@import "sections/header";
@import "sections/nav";
@import "sections/hero";
@import "sections/about";
