section.about 
    .container 
        .title.title--with-bottom-line
            h2.title.title__header About Us
            .title__text We are added our major Service 

        ul.about__list
            li.about__item 
                .icon.icon__like 
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam earum soluta dolorum esse? Facere non laborum saepe suscipit placeat facilis debitis rerum sit blanditiis commodi nobis, eligendi quod excepturi quisquam!

            li.about__item 
                .icon.icon__book 
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam earum soluta dolorum esse? Facere non laborum saepe suscipit placeat facilis debitis rerum sit blanditiis commodi nobis, eligendi quod excepturi quisquam!

            li.about__item 
                .icon.icon__message 
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam earum soluta dolorum esse? Facere non laborum saepe suscipit placeat facilis debitis rerum sit blanditiis commodi nobis, eligendi quod excepturi quisquam!        
        