section.approach 
    .container 
        .title.title--with-bottom-line
            h2.title.title__header Our Approach
            .title__text Vikings Will Take 'Strategic' Approach to Building 2021 Roster

        ul.approach__list 
            li.approach__item
                .approach__images 
                    img.approach__picture(src="../images/step-1.jpg" alt="picture step-1")
                    .approach__step step
                .approach__text 
                    .approach__title Step 1: They are going to GYM
                    p.approach__description. 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit est veniam quam quia. Fuga alias nostrum corporis! Expedita dolore repudiandae placeat, laboriosam officiis quod quibusdam aspernatur, nam tenetur, sit earum?Blanditiis id aliquid quia inventore quod sequi quae rem vero, in, optio ullam nemo repellendus quis eum dolore pariatur! Voluptate vel at aliquid quidem optio

            li.approach__item
                .approach__images 
                    img.approach__picture(src="../images/step-2.jpg" alt="picture step-1")
                    .approach__step step
                .approach__text 
                    .approach__title Step 2: They are going to GYM
                    p.approach__description. 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit est veniam quam quia. Fuga alias nostrum corporis! Expedita dolore repudiandae placeat, laboriosam officiis quod quibusdam aspernatur, nam tenetur, sit earum?Blanditiis id aliquid quia inventore quod sequi quae rem vero, in, optio ullam nemo repellendus quis eum dolore pariatur! Voluptate vel at aliquid quidem optio

            li.approach__item
                .approach__images 
                    img.approach__picture(src="../images/step-3.jpg" alt="picture step-1")
                    .approach__step step
                .approach__text 
                    .approach__title Step 3: They are going to GYM
                    p.approach__description. 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit est veniam quam quia. Fuga alias nostrum corporis! Expedita dolore repudiandae placeat, laboriosam officiis quod quibusdam aspernatur, nam tenetur, sit earum?Blanditiis id aliquid quia inventore quod sequi quae rem vero, in, optio ullam nemo repellendus quis eum dolore pariatur! Voluptate vel at aliquid quidem optio

            li.approach__item
                .approach__images 
                    img.approach__picture(src="../images/step-4.jpg" alt="picture step-1")
                    .approach__step step
                .approach__text 
                    .approach__title Step 4: They are going to GYM
                    p.approach__description. 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit est veniam quam quia. Fuga alias nostrum corporis! Expedita dolore repudiandae placeat, laboriosam officiis quod quibusdam aspernatur, nam tenetur, sit earum?Blanditiis id aliquid quia inventore quod sequi quae rem vero, in, optio ullam nemo repellendus quis eum dolore pariatur! Voluptate vel at aliquid quidem optio
                                                            